# Start PyCharm, select "Open" and browse to the student_files folder.  
# PyCharm will prompt to create a virtual environment and run this file 
# automatically installing any dependencies.
# 
# If not using PyCharm, manually execute this series of commands in a command window (assumes Windows OS):
#      cd <student_files directory>
#      python -m venv venv
#      venv\Scripts\activate   
#      pip install -r requirements.txt

arrow
beautifulsoup4
black
click
flake8
flask
flask-sqlalchemy
flask-marshmallow
folium
ipython
jupyter
marshmallow
marshmallow-sqlalchemy
matplotlib
mypy
numpy
pandas
poetry
prettytable
pyarrow
pygeoip
requests
scikit-learn
seaborn
sqlalchemy
