arrow
beautifulsoup4>=4.12
black>=23.11
click>=8.1
flake8>=6.1
flask>=3.0
flask-sqlalchemy>=3.1
flask-marshmallow>=0.15.0
folium
ipython>=8.18
jupyter>=1.0
marshmallow>=3.20
marshmallow-sqlalchemy>=0.29
matplotlib>=3.8
mypy>=1.7
numpy>=1.26
pandas>=2.1
poetry
prettytable>=3.9
pyarrow
pygeoip
requests>=2.31
scikit-learn
seaborn
sqlalchemy>=2.0
